$darker-gray: #202020;
$medium-gray: #242424;
$light-gray: #262626;
 
$darker-white: #ebebeb;
$medium-white: #f5f5f5;
$light-white: #fafafa;

$darker-red: #6c000d;
$medium-red: #840010;
$light-red: #cf3446;

:export {
  darker-gray: $darker-gray;
  medium-gray: $medium-gray;
  light-gray: $light-gray;
  darkerWhite: $darker-white;
  medium-white: $medium-white;
  light-white: $light-white;
}