$darker-gray: #202020;
$medium-gray: #242424;
$light-gray: #262626;
 
$darker-white: #ebebeb;
$medium-white: #f5f5f5;
$light-white: #fafafa;
$pure-white: #fff;

:export {
  darker-gray: $darker-gray;
  medium-gray: $medium-gray;
  light-gray: $light-gray;
  darkerWhite: $darker-white;
  medium-white: $medium-white;
  light-white: $light-white;
  pure-white: $pure-white;
}