.navbar {
  height: 88px;
  width: 100%;
}

@media (prefers-color-scheme: dark){
  .navbar {
    background-color: #242424;
    border-bottom: outset 1px #cf3446;
    color: #f5f5f5;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 10%;
    .ul{
      display: flex;
      gap: 64px;
      .link:hover {
        color:#cf3446;
        text-decoration: underline;
      }
    }
  }
}

@media (prefers-color-scheme: light){
  .navbar {
    background-color: #f5f5f5;
    border-bottom: outset 1px #242424;
    color: #242424;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 10%;
    .ul{
      display: flex;
      gap: 64px;
      .link:hover {
        text-decoration: underline;
      }
    }
  }
}
